html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    font-size: 14px;

}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


a, a:visited, a:active, a:hover {
    text-decoration: none;
    outline: none;
}

h1 {
    color: black;
    padding: 10px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}

h2 {
    color: #000;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size:20px;
}

#welcome {
    font-size: 14px;
    color: #000;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#container {

    margin: 0 auto;
}

#progress {
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 40px;
    margin-top: 30px;
}

#progress .percent {
    background: #FF871C;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F89E44),color-stop(100%,#FF871C));
    background-image: -webkit-linear-gradient(#be2638,#be2638);
    background-image: -moz-linear-gradient(#be2638,#be2638);
    background-image: -o-linear-gradient(#be2638,#be2638);
    background-image: -ms-linear-gradient(#be2638,#be2638);
    background-image: linear-gradient(rgb(190, 38, 56),rgb(190, 38, 56));
    width: 1%;
    height: 40px;
    position: relative;
}
#progress .percent[data-percentage='67']{
    background-image: linear-gradient(rgb(255, 197, 76),rgb(245, 210, 71));
    background-color: blue;
}
#progress .percent[data-percentage='33']{
    background-image: linear-gradient(rgb(52, 174, 255),rgb(71, 168, 245));
    background-color: orange;
}
#progress .percent[data-percentage='100']{
    background-image: linear-gradient(rgb(31, 226, 23),rgb(84, 211, 60));
    background-color: rgb(84, 211, 60);
}
.surprise{
    display: none;
}
.surprise img{
    width: 100%;
}
#progress .percent[data-percentage='100'] .number{
    right: 50%;

    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    width: auto;
    position: static;
}
#progress .percent .number {
    position: absolute;
    top: 0px;
    height: 30px;
    line-height: 40px;
    color: black;
    right: -40px;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

#actions {
    overflow: hidden;
    list-style-type: none;
    margin-top: 40px;
    padding:0;
}


#actions li {
    text-align: center;
    margin-bottom: 10px;
    width: 33%;
    display: inline-block;
}



button {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background: #00bbea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00bbea 0%, #006699 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bbea), color-stop(100%,#006699)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00bbea 0%,#006699 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00bbea 0%,#006699 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00bbea 0%,#006699 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00bbea 0%,#006699 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbea', endColorstr='#006699',GradientType=0 ); /* IE6-9 */

    color: white;
    -moz-box-shadow: inset 0 1px 0 0 #5b8aeb;
    -webkit-box-shadow: inset 0 1px 0 0 #5b8aeb;
    -o-box-shadow: inset 0 1px 0 0 #5b8aeb;
    box-shadow: inset 0 1px 0 0 #5b8aeb;
    text-shadow: #3b5998 0 1px 0;
    -moz-background-clip: border;
    -webkit-background-clip: border;
    -o-background-clip: border-box;
    -ms-background-clip: border-box;
    -khtml-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid #1A1A1A;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;

    font-size: 24px;
    line-height: 48px;
    padding: 0 20px;
    -moz-transition: "color","0.3s";
    -webkit-transition: "color","0.3s";
    -o-transition: "color","0.3s";
    transition: "color","0.3s";
    cursor: pointer;
    margin: 0px;
    opacity: 0.99;
}

button:hover {
    opacity: 0.9;
}

button.facebook {
    background: #3b5998;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4b71c1),color-stop(100%,#3b5998));
    background-image: -webkit-linear-gradient(#4b71c1,#3b5998);
    background-image: -moz-linear-gradient(#4b71c1,#3b5998);
    background-image: -o-linear-gradient(#4b71c1,#3b5998);
    background-image: -ms-linear-gradient(#4b71c1,#3b5998);
    background-image: linear-gradient(#4b71c1,#3b5998);
    color: #fff;
    -moz-box-shadow: inset 0 1px 0 0 #5b8aeb;
    -webkit-box-shadow: inset 0 1px 0 0 #5b8aeb;
    -o-box-shadow: inset 0 1px 0 0 #5b8aeb;
    box-shadow: inset 0 1px 0 0 #5b8aeb;
    text-shadow: #3b5998 0 1px 0;
}

button.twitter {
    background: #2578b4;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#58a8e2),color-stop(100%,#2578b4));
    background-image: -webkit-linear-gradient(#58a8e2,#2578b4);
    background-image: -moz-linear-gradient(#58a8e2,#2578b4);
    background-image: -o-linear-gradient(#58a8e2,#2578b4);
    background-image: -ms-linear-gradient(#58a8e2,#2578b4);
    background-image: linear-gradient(#58a8e2,#2578b4);
    color: #fff;
    -moz-box-shadow: inset 0 1px 0 0 #88c1ec;
    -webkit-box-shadow: inset 0 1px 0 0 #88c1ec;
    -o-box-shadow: inset 0 1px 0 0 #88c1ec;
    box-shadow: inset 0 1px 0 0 #88c1ec;
    text-shadow: #2578b4 0 1px 0;
}

.entry-header{display:none;}
#main-container{margin: 0 68px;}
.title.one {padding-top: 40px}
#col1{display:inline-block;}
#col2{display: inline-block;
width: 495px;
padding: 30px;
box-sizing: content-box;
-webkit-box-sizing: content-box;
float: right;}
.parallax.p-one {
height: 455px;
}
.socialFooter{margin-top:0;}
.entry-content{
    padding-top:30px;
}
#progress{
  width: 80%;
  margin: 0 auto;
}
body{
  width:100%;
}

@media (max-width: 980px) {
  #actions li {
    display: block;
    width: 100%
  }
  #actions li button{
    width: 50%;
  }
}
