button{
	font-size: 17px;
	width: 80%;
	position: relative;
}
.fa{
	margin-right: 6px;
}
.fa-linkedin{
	position: relative;
	top:-2px;
}
p{
	font-size: 1.5em;
}
.gotoIniciador{
    text-align: center;
    padding: 0 1em;
    background-color: #ff7f45;
    width: 280px;
    color: white;
    margin: 0 auto 2em;
    padding: 1em;
    font-size:1em;
    border-radius: 3px;
}
#actions.col-md-4 li{
    width: 25%;
}
#actions.col-md-3 li{
    width: 33%;
}
#actions li {
    text-align: center;
    margin-bottom: 10px;
    width: 33%;
    display: block;
    float: left;
}

button{
    height: 70px;
    vertical-align: top;
    line-height: 24px;
    padding: 10px;
    font-size: 17px;
}

button {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background: #00bbea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00bbea 0%, #006699 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bbea), color-stop(100%,#006699)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00bbea 0%,#006699 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00bbea 0%,#006699 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00bbea 0%,#006699 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00bbea 0%,#006699 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbea', endColorstr='#006699',GradientType=0 ); /* IE6-9 */

    color: white;
    -moz-box-shadow: inset 0 1px 0 0 #5b8aeb;
    -webkit-box-shadow: inset 0 1px 0 0 #5b8aeb;
    -o-box-shadow: inset 0 1px 0 0 #5b8aeb;
    box-shadow: inset 0 1px 0 0 #5b8aeb;
    text-shadow: #3b5998 0 1px 0;
    -moz-background-clip: border;
    -webkit-background-clip: border;
    -o-background-clip: border-box;
    -ms-background-clip: border-box;
    -khtml-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid #1A1A1A;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -moz-transition: "color","0.3s";
    -webkit-transition: "color","0.3s";
    -o-transition: "color","0.3s";
    transition: "color","0.3s";
    cursor: pointer;
    margin: 0px;
    opacity: 0.99;
}

@media (max-width: 1120px) {
  img.fundacion{
  	width: 82%;
  }
  p{
  	font-size: 1em;
  }
  #actions.col-md-4 li {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
  #actions li button{
    width: 90%;
    /*font-size: 18px;*/
    height: 4.5em;
  }
  .gotoIniciador{
    width: 80%;
  }


}
@media (max-width: 650px) {
 p{
 	font-size: 3em;
 }
 #actions.col-md-4 li {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
 .gotoIniciador{
    width: 80%;
  }
  #actions li button{
    width: 80%;
    font-size: .6em;
  }
}